
@keyframes twinkling {
    from { opacity: 1.4; }
    to { opacity: 0.6; }
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, #08071a, #010006) repeat top center;
    z-index: 0;
    animation: twinkling 1.4s infinite alternate;
}
